body {
	background-color: #ecf0f1;
}

form a {
	margin-left: 10px;
}

textarea {
	height: 250px;
}

h3 {
	font-family: 'Fugaz One', cursive;
}

h6 {
	position: fixed;
	top: 200px;
}

.btn-floating {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 2;
}

.blog-header {
	background-image: url('../icons/header.jpg');
	background-position: bottom center; 
	background-size: 1200px 400px;
	background-repeat: no-repeat;
	margin-top: -42px;
	height: 250px;
}

.blog-header h1 {
	font-family: 'Audiowide', cursive;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.blog-header .react{
	color: #0AD4FE;
}

.blog-header .redux{
	color: #6B41B4;
}

.blog-header .blog{
	color: #FFFFFF;
}